/*BLOCKQUOTES*/

.markdown-preview-view blockquote:before {
  content: "â";
  color: purple;
  font-size: 2.5em;
  margin-right: .05em;
  line-height: 0.1em;
  vertical-align: -0.3em;
}

blockquote p {
  color: var(--text-normal);
  display: inline;
}

.markdown-preview-view blockquote {
  color: var(--blockquote-border);
  border-radius: 6px;
  border: 3px solid purple;
  margin: 1.5rem 0rem 1.5rem 0rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

/*ASIDE (SIDE NOTES)*/

aside:before {
  content: "";
  font-size: 2.5em;
  line-height: 0.1em;
  vertical-align: -0.2em;
}

aside {
  width: 48%;
  line-height: 1.75em;
  padding: 1.25em;
  margin-left: .75rem;
  margin-bottom: .75em;
  position: relative;
  float: right;
  border: 2px solid purple !important;
  color: var(--text-normal);
  box-shadow: 8px 8px purple;
}

aside > p {
  margin: .5rem;
}
