body {
    --callout-padding: 0;
    --callout-title-padding: var(--size-4-2) var(--size-4-2) var(--size-4-2) var(--size-4-3);
    --callout-content-padding: var(--size-4-2) var(--size-4-2) var(--size-4-2) var(--size-4-2);
    --callout-radius: 0;
}

.callout {
    border-left: 4px solid rgba(var(--callout-color), 0.7);
}

.callout-title {
    color: var(--text-normal);
}

.callout-content {
    background-color: var(--background-secondary);
    font-size: 8pt;
}
