.tag[href="#lxn"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#lxn"]:after {
  justify-content: space-between;
  border-width: 1px;
  border-color: rgb(24, 120, 40);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(24, 120, 40);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  letter-spacing: -0.00ch;
  content: "🌱 LEXICONUS";
}

.tag[href="#egm"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#egm"]:after {
  justify-content: space-between;
  border-width: 1px;
  border-color: rgb(230, 185, 50);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🌻 ENGRAMS";
}

.tag[href="#nby"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#nby"]:after {
    justify-content: space-between;
  border-width: 1px;
  border-color: rgb(212, 119, 6);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🌞 PROGNOSTIC";
}

.tag[href="#smc"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#smc"]:after {
    justify-content: space-between;
   border-width: 1px;
  border-color: rgb(227, 229, 230);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "☁️ SAMAA";
}

.tag[href="#srh"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#srh"]:after {
    justify-content: space-between;
   border-width: 1px;
  border-color: rgb(212, 119, 6);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(4, 176, 214);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🌊 SURAH";
}
