.tag[href="#lxn"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#lxn"]:after {
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(212, 130, 15);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  letter-spacing: -0.00ch;
  content: "🌾 LEXICONUS";
}

.tag[href="#rut"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#rut"]:after {
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(24, 120, 40);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  letter-spacing: -0.00ch;
  content: "🌿 ROOT";
}

.tag[href="#egm"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#egm"]:after {
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(230, 185, 50);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🌻 ENGRAMS";
}

.tag[href="#mnr"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#mnr"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(237, 229, 2);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "✨ MONIKER";
}

.tag[href="#nby"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#nby"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(237, 229, 2);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🌙 PURGATUS PROGNOSIS";
}

.tag[href="#rsl"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#rsl"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(237, 229, 2);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🌞 ELOQUII ACCENDO";
}

.tag[href="#sma"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#sma"]:after {
    justify-content: space-between;
   border-style: solid;
  border-width: thin;
  border-color: rgb(227, 229, 230);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "☁️ SAMAA";
}

.tag[href="#srh"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#srh"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(4, 176, 214);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🌊 SURAH";
}

.tag[href="#mhk"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#mhk"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(95, 109, 112);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "⚙️ MUHKAMAT";
}

.tag[href="#tcn"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#tcn"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(153, 0, 255);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🧬 T-CON";
}

.tag[href="#acn"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#acn"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(153, 0, 255);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "🧬 A-CON";
}

.tag[href="#imd"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#imd"]:after {
    justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: rgb(9, 227, 162);
  font-size: 8pt;
  font-weight: 400;
  background-color: rgb(30, 30, 30);
  color: rgb(237, 237, 237);
  padding: 3px 3px;
  border-radius: 3px;
  content: "♻️ IN_MANIFEST_DISCLOSURE";
}

